---
layout: default
---
- aboutMenu = {:Resume => "someurl",
  :"Demo Reel" => "someurl2",
  :Projects => "someurl3"}

.about-header
  .about-name Brandon Wang
  .about-title Computer Science M.S. Student at UC Berkeley
  .about-email
    %a{:href => "mailto:brandonwang@berkeley.edu" } brandonwang@berkeley.edu
  .about-items
    -# Yes, this is the same as in _layouts/default.haml. I have to make a 
    -# helper somewhere...
    - firstLink = aboutMenu.keys.first
    %a{:href => aboutMenu[firstLink]}= firstLink
    - aboutMenu.keys[1..aboutMenu.count-1].each do |link|
      ! /
      %a{:href => aboutMenu[link]}= link
.about-portrait
  %img{:src => "/images/portrait.png"}

:markdown
  I'm a M.S. student studying Computer Science at UC Berkeley, under Ravi Ramamoorthi's guidance. I graduated with a B.S. in Electrical Engineering and Computer Science in three years, also from UC Berkeley. As a computer graphics focus, I am primarily interested in rendering, procedural generation, and simulation.

  I am currently working as a Software Intern at Pixar Animation Studios. In the Fall, I will be returning to UC Berkeley, where I will continue to take classes, and work as a teaching assistant for CS184,
  Foundations of Computer Graphics.

  I have previously worked at Qualcomm and the Department of Defense. For more information, take a look at my resume!

  You can reach me by email, Facebook, LinkedIn, or Google+.

