---
layout: default
type: projects
---
%ul.project-list
  {% for project in site.categories.projects %}
  {% if project.listImage %} {% assign pimg = project.listImage %}
  {% else %} {% assign pimg = "/images/projects/default.png" %} {% endif %}
  %li.project-list-item
    %a{:href => "{{ project.url }}"}
      %img.project-list-image{:src => "{{ pimg }}"}
    .project-list-text
      -# Later, this should go into a helper function or something
      .header-title
        .title-text.text-gray
          %a{:href => "{{ project.url }}"} {{ project.title }}
        .line-fill
          .fill-gray
      %p.project-list-description {{ project.description }}
  {% endfor %}
