@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:300");
body {
  background: url("images/hex3_repeat_green.gif") center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Verdana", sans-serif; }

a:link,
a:visited,
a:active {
  color: #4d854c;
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #4f9d4d;
  text-decoration: underline; }

#main {
  background: url("images/hex3_repeat_tile.gif") center;
  width: 80%;
  min-width: 760px;
  margin: 0 auto 0 auto;
  border: 1px solid #d8e9bb;
  border-top: none; }

#page-header {
  height: 100px;
  position: relative; }
  #page-header #fixed-float {
    height: 22px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    border-top: 1px solid #d8e9bb;
    display: table; }
    #page-header #fixed-float #name {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      display: table-cell;
      height: 22px;
      width: 150px; }
      #page-header #fixed-float #name #main-name {
        text-align: right;
        height: 18px;
        overflow: hidden;
        margin-top: -3px; }
      #page-header #fixed-float #name #sub-header {
        font-size: 7px;
        bottom: -3px;
        position: absolute;
        display: table;
        width: 150px;
        height: 10px; }
        #page-header #fixed-float #name #sub-header #sub-name {
          text-align: right;
          display: table-cell;
          padding: 0 1px 0 1px;
          color: #617e2e; }
          #page-header #fixed-float #name #sub-header #sub-name a:link,
          #page-header #fixed-float #name #sub-header #sub-name a:visited,
          #page-header #fixed-float #name #sub-header #sub-name a:active {
            color: #617e2e;
            text-decoration: none;
            font-weight: bold; }
          #page-header #fixed-float #name #sub-header #sub-name a:hover {
            text-decoration: underline;
            color: #595951; }
    #page-header #fixed-float #right-header {
      height: 20px;
      border-bottom: 2px solid #617e2e;
      display: table-cell;
      text-align: right;
      padding: 0;
      margin: 0;
      text-transform: uppercase; }
      #page-header #fixed-float #right-header #menu {
        font-size: 11px;
        margin-right: 5px;
        font-weight: bold;
        color: #595951;
        font-family: "Verdana"; }
        #page-header #fixed-float #right-header #menu a:link,
        #page-header #fixed-float #right-header #menu a:visited,
        #page-header #fixed-float #right-header #menu a:active {
          color: #595951;
          text-decoration: none;
          font-weight: bold; }
        #page-header #fixed-float #right-header #menu a:hover {
          text-decoration: underline;
          color: black; }

#content-back {
  background: rgba(255, 255, 255, 0.9); }

.title {
  background: rgba(255, 255, 255, 0.9);
  display: table;
  width: 100%;
  margin-bottom: -4px; }
  .title .title-text {
    padding: 5px 1px 0 10px;
    display: table-cell;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px; }

.content-standard {
  padding: 2px 10px; }

.content-projects {
  padding: 2px 10px; }

#content {
  color: #292929; }
  #content h1, #content h2, #content h3 {
    font-size: 11px;
    font-weight: bold;
    color: #595951;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: inline; }
  #content h2 {
    font-size: 14px;
    display: block; }
  #content p {
    font-size: 14px;
    margin: 0 5px 14px 5px; }

#footer {
  clear: both;
  padding: 1px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #acaca8;
  font-size: 9px;
  border-top: 1px solid #d8e9bb;
  text-align: center; }

.line-fill, .header-title {
  width: 100%;
  display: table-cell; }
  .line-fill .text-gray, .header-title .text-gray {
    color: #595951; }
    .line-fill .text-gray a:link,
    .line-fill .text-gray a:visited,
    .line-fill .text-gray a:active, .header-title .text-gray a:link,
    .header-title .text-gray a:visited,
    .header-title .text-gray a:active {
      color: #595951; }
  .line-fill .text-green, .header-title .text-green {
    color: #617e2e; }
    .line-fill .text-green a:link,
    .line-fill .text-green a:visited,
    .line-fill .text-green a:active, .header-title .text-green a:link,
    .header-title .text-green a:visited,
    .header-title .text-green a:active {
      color: #617e2e; }
  .line-fill .fill-gray, .header-title .fill-gray {
    height: 2px;
    width: 100%;
    display: block;
    background: #595951; }
  .line-fill .fill-green, .header-title .fill-green {
    height: 2px;
    width: 100%;
    display: block;
    background: #617e2e; }

.header-title {
  display: table;
  width: 100%; }
  .header-title .title-text {
    padding: 5px 1px 0 10px;
    display: table-cell;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Verdana", "Open Sans", sans-serif; }
    .header-title .title-text a:link,
    .header-title .title-text a:visited,
    .header-title .title-text a:active {
      text-decoration: none; }
    .header-title .title-text a:hover {
      text-decoration: underline; }

.about-header {
  color: #292929;
  margin: 10px 0 5px 0; }
  .about-header .about-name {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: -4px; }
  .about-header .about-title {
    display: block;
    margin-bottom: -7px; }
  .about-header .about-email {
    display: block;
    margin-bottom: 1px; }
    .about-header .about-email a:link,
    .about-header .about-email a:visited,
    .about-header .about-email a:active {
      color: #292929;
      text-decoration: none;
      font-weight: normal;
      font-size: 11px; }
    .about-header .about-email a:hover {
      text-decoration: underline; }
  .about-header .about-items {
    display: block;
    margin: 0;
    padding: 0;
    border-top: 1px solid #949488;
    font-size: 10px;
    text-transform: uppercase; }
    .about-header .about-items a:link,
    .about-header .about-items a:visited,
    .about-header .about-items a:active {
      color: #595951;
      text-decoration: none;
      font-weight: bold; }
    .about-header .about-items a:hover {
      text-decoration: underline; }

.about-portrait {
  float: right;
  border: 1px solid #acaca8;
  background: #edf5e0;
  padding: 10px;
  margin: 0 0 0 30px; }

.project-list {
  margin: 0 auto;
  padding: 0 0 20px 0;
  width: 100%;
  border-top: 0;
  border-bottom: 0; }

.project-list-item {
  width: 100%;
  display: table;
  padding: 20px 20px 0 20px; }

.project-list-image {
  display: table-cell;
  border: 1px solid #949488;
  background: white;
  width: 400px;
  height: 150px; }

.project-list-text {
  display: table-cell;
  vertical-align: top;
  width: 100%; }
  .project-list-text .project-list-description {
    padding: 5px; }
  .project-list-text .title-text {
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif; }

.project-image {
  width: 100%;
  background: url("images/greenstripe.png");
  overflow: hidden;
  text-align: center;
  border: 1px solid #d8e9bb;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  margin: 5px -10px; }
  .project-image img {
    border: 1px solid #b4cc8a; }

.project-info {
  margin: 20px 0 0 0;
  color: #595951;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 60px;
  display: table;
  border-bottom: 2px solid #617e2e;
  white-space: nowrap; }
  .project-info .project-title {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: -10px;
    padding: 2px 0; }
  .project-info .project-meta {
    font-size: 11px;
    vertical-align: bottom;
    display: table-cell;
    padding: 2px 10px 2px 10px;
    width: 100%; }

.project-links {
  list-style-type: decimal-leading-zero;
  font-family: "Open Sans", sans-serif;
  margin: 5px 0 40px 0;
  font-size: 10px; }
  .project-links li {
    float: left;
    padding: 0 40px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #b4cc8a; }

#project-content {
  clear: both; }
  #project-content p {
    margin: 10px 10px 20px 20px;
    font-size: 14px; }
  #project-content img, #project-content iframe {
    max-width: 100%;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #d8e9bb;
    background: url("images/greenstripe.png");
    display: block; }
  #project-content h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: lighter;
    font-size: 25px; }
