<!DOCTYPE html>
<html>
<head>
<title>maxfeldman.net</title>
<link href='/assets/bootstrap.min.css' rel='stylesheet' />
<link href='assets/style.css?body=1' media='all' rel='stylesheet' type='text/css' />
</head>
<body>
<div class='navbar'>
<div class='navbar-inner'>
<div class='container'>
<a class='brand' href='/'>maxfeldman.net</a>
<ul class='nav'>
<a href='/projects'>Projects</a>
<a href='/blog'>Blog</a>
</ul>
</div>
</div>
</div>
{% if page.title %}
<div class='title'>
<div class='title-text text-gray'>
&raquo;
{{ page.title }}
</div>
<div class='line-fill'>
<div class='fill-gray'></div>
</div>
</div>
{% endif %}
<div id='content-back'>
{% if page.type %} {% assign type= page.type %} 
{% else %} {% assign type = "standard" %} {% endif %}
<div class='content-{{ type }}' id='content'>
{{ content }}
</div>
<div id='footer'>
Copyright &copy; 2012 Brandon Wang
</div>
</div>
</body>
</html>
