<!DOCTYPE html>
<html>
<head>
<title>maxfeldman.net</title>
<link href='/assets/bootstrap.min.css' rel='stylesheet' />
<link href='assets/style.css?body=1' media='all' rel='stylesheet' type='text/css' />
</head>
<body>
<div class='navbar'>
<div class='navbar-inner'>
<div class='container'>
<a class='brand' href='/'>maxfeldman.net</a>
<ul class='nav'>
<li>
<a href='/projects'>Projects</a>
</li>
<li>
<a href='/blog'>Blog</a>
</li>
</ul>
</div>
</div>
</div>
<div class='container'>
<div class='content'>
{{ content }}
</div>
<footer>
<p>Copyright &copy; 2013 Max Feldman</p>
</footer>
</div>
</body>
</html>
