!!! 5
-# Ugh, mixing HAML and Liquid is really gross
- menuLinks = {:Projects => "/projects",
  :Blog => "/blog",
  }

%html
  %head
    %title maxfeldman.net
    %link{:rel => "stylesheet", :href => "/assets/bootstrap.min.css"}
    %link{:href => "assets/style.css?body=1", :rel => "stylesheet", :type => "text/css", :media => "all"}
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{:href => "/"} maxfeldman.net
          %ul.nav
            - firstLink = menuLinks.keys.first
            %a{:href => menuLinks[firstLink]}= firstLink
            - menuLinks.keys[1..menuLinks.count-1].each do |link|
              %a{:href => menuLinks[link]}= link
    {% if page.title %}
    .title
      .title-text.text-gray
        &raquo;
        {{ page.title }}
      .line-fill
        .fill-gray
    {% endif %}
    #content-back
      {% if page.type %} {% assign type= page.type %} |
      {% else %} {% assign type = "standard" %} {% endif %}
      #content{"class" => "content-{{ type }}"}
        == {{ content }}
      #footer
        Copyright &copy; 2012 Brandon Wang
