!!! 5
-# Ugh, mixing HAML and Liquid is really gross
- menuLinks = {:Projects => "/projects",
  :Blog => "/blog",
  }

%html
  %head
    %title maxfeldman.net {% if page.title %}| {{ page.title }} {% endif %}
    %link{:rel => "stylesheet", :href => "/stylesheets/style.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/bootstrap.min.css", :type => "text/css"}
  %body
    #main
      #navbar
        -#page-header
        #fixed-float
          #name
            #sub-header
              %span.line-fill
                %span.fill-green
              %span#sub-name
                %a{:href => "http://www.maxfeldman.net"} maxfeldman.net
          #right-header
            %span#menu
              -firstLink = menuLinks.keys.first
              %a{:href => menuLinks[firstLink]}= firstLink
              - menuLinks.keys[1..menuLinks.count-1].each do |link|
                ! /
                %a{:href => menuLinks[link]}= link
      {% if page.title %}
      .title
        .title-text.text-gray
          &raquo;
          {{ page.title }}
        .line-fill
          .fill-gray
      {% endif %}
      #content-back
        {% if page.type %} {% assign type= page.type %} |
        {% else %} {% assign type = "standard" %} {% endif %}
        #content{"class" => "content-{{ type }}"}
          == {{ content }}
        #footer
          Copyright &copy; 2012 Brandon Wang
