! ---
! layout: default
! ---
{% if page.image %}
.project-image
  %img{:src => "{{ page.image }}"}
{% endif %}
.project-info
  .project-title
    {{ page.title }}
  .project-meta
    {{ page.displayDate }}
    %br
    {{ page.meta }}
%ol.project-links
  {% for link in page.links %}
  %li
    %a{:href => "{{ link.name }}"}
      {{ link.name }}
  {% endfor %}
#project-content
  {{ content }}



